<configuration>
  <!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />  printing status of logback system == <configuration debug=true> -->  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
       <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{somekey} - %msg%n</pattern>
      <!--<Pattern>%X{contextMap} %X{last} - %m%n</Pattern>-->
    </encoder>
  </appender>
  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>